<h1 class="mt-4 text-center">Órdenes</h1>
<hr>

<form class="row g-3 needs-validation mt-2" [formGroup] = "orderForm" (ngSubmit)="newOrder()" novalidate>
  <div class="col-md-4">
    <label for="customer" class="form-label">Cliente</label>
    <select class="form-select" id="customer" formControlName="CustomerID" required>
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let cus of customers" [ngValue]="cus.CustomerID">{{ cus.ContactName }}</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="employee" class="form-label">Empleado</label>
    <select class="form-select" id="employee" formControlName="EmployeeID" required>
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let emp of employees" [ngValue]="emp.EmployeeID">{{ emp.FullName }}</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="shipper" class="form-label">Agencia de Envío</label>
    <select class="form-select" id="shipper" formControlName="ShipVia" required>
      <option selected disabled value="">Choose...</option>
      <option *ngFor="let shi of shippers" [ngValue]="shi.ShipperID">{{ shi.CompanyName }}</option>
    </select>
  </div>
  
  <div class="col-md-2">
    <label for="shipName" class="form-label">Nombre del Barco</label>
    <input type="text" class="form-control" id="shipName" formControlName="ShipName" required>
  </div>
  <div class="col-md-2">
    <label for="shipAddress" class="form-label">Dirección del envío</label>
    <input type="text" class="form-control" id="shipAddress" formControlName="ShipAddress" required>
  </div>
  <div class="col-md-2">
    <label for="shipCity" class="form-label">Ciudad de Envío</label>
    <input type="text" class="form-control" id="shipCity" formControlName="ShipCity" required>
  </div>
  <div class="col-md-2">
    <label for="shipRegion" class="form-label">Región de Envío</label>
    <input type="text" class="form-control" id="shipRegion" formControlName="ShipRegion" required>
  </div>
  <div class="col-md-2">
    <label for="shipCountry" class="form-label">País de Envío</label>
    <input type="text" class="form-control" id="shipCountry" formControlName="ShipCountry" required>
  </div>
  <div class="col-md-1">
    <label for="shipPostalCode" class="form-label">Código Postal</label>
    <input type="text" class="form-control" id="shipPostalCode" formControlName="ShipPostalCode" required>
  </div>
  <div class="col-md-1">
    <label for="freight" class="form-label">Peso</label>
    <input type="number" class="form-control" id="freight" formControlName="Freight" required>
  </div>

  <div class="col-12">
    
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Guardar Orden</button>
  </div>
</form>